.bg {
    -fx-background-image:url('../images/wallpaper.png');
    -fx-background-size: 1024 820; /* dimensioni leggermenti piu grandi delle effettive per una copertura completa*/
    -fx-background-position: center;
}

.loginpanel {
	-fx-background-color: #e3b584;
	-fx-background-radius: 50px;
}

.success {
	-fx-text-font-size: 24px;
	-fx-text-fill: #228B22;
}

.error {
	-fx-text-font-size: 24px;
	-fx-text-fill: #dc143c;
}

.buybook-panel {
	-fx-background-color: rgba(201,161,117, 0.5);
}

.buy-home-btn {
	-fx-background-color: #00ff00; 
}

.rate-home-btn {
	-fx-background-color: #ffff00;
}

.list-item {
	-fx-background-color: rgba(163,130,95, 0.8);
}

.btn {
	-fx-background-color: #634f3a;
}

.scrollbg {
	-fx-background-color: rgb(163, 130,95, 0.75)
}

.exBookPanebg {
	-fx-background-color: rgb(163, 130, 95, 0.75);
}

.transparent {
	-fx-background-color: transparent;
}

.exBookVerticalP {
	-fx-background-color: #c9a175;
}

.main-color {
	-fx-background-color: #e3b584;
}
