.heading-margin {
	margin-top:80px;
}

.bg {
    /*background-color: #E8DACC;*/
    background-image:url('../img/bg.jpg');
}

.form-restyle {
	padding-top: 20px;
  	padding-bottom: 20px;
  	padding-right: 20px;
  	padding-left: 20px;
  	border-radius: 40px;
  	border-width:2px !important;
  	background-color: rgb(227,181,132);
}

.login-header {
	padding-bottom: 20px;
}

.list-item-bg {
	background-color: rgb(227,181,132, 0.8);
}

.list-item-body-bg {
	background-color: rgba(99, 79, 58, 0.8);
}

.no-decoration {
	text-decoration: none !important;
}

.clickable { cursor: pointer; !important}

.clickable-hover {
	color: white;
}

.star {
	color: orange;
}

.light-bg {
	background-color: #E8DACC;
}

.google-color {
	color:#DB4437	
}

.star-radio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.star-radio + .star-img {
  cursor: pointer;
}

.book-cover {
	color: #634f3a;
}

.ex-book-black-link {
	color: black !important;
}

.ex-book-col-bg {
	background-color: #f0bf8b;
	border-radius: 20px;
}

.ex-book-btn {
	background-color: #634f3a !important;
	color: white !important;
	border-radius: 5px;
}

.ex-book-shadow {
  text-shadow: 3px 3px 1px #000000;
}

.ex-book-modal {
	background-color: #E6E6E6;
}

.ex-book-td {
	width: 33.33%;
}

.notification {
	background-color: rgb(163, 130, 95, 0.75);
	height: 90px;
}

.ex-book-accept-btn {
	background-color: green !important;
	color: white !important;
	border-radius: 5px;
}

.ex-book-choose-btn {
	background-color: blue !important;
	color: white !important;
	border-radius: 5px;
}

.ex-book-reject-btn {
	background-color: red !important;
	color: white !important;
	border-radius: 5px;
}










