.loginbg {
    -fx-background-image:url('../images/wallpaper.jpg');
}

.loginpanel {
	-fx-background-color: #e3b584;
	-fx-background-radius: 50px;
}

.success {
	-fx-text-font-size: 24px;
	-fx-text-fill: #228B22;
}

.error {
	-fx-text-font-size: 24px;
	-fx-text-fill: #dc143c;
}

